.content-wrap {
  max-width: 950px;
  margin: 20px auto;
  overflow: hidden;
}

body {
    background-color: #0C1C2F;
    color: #F2EDE2;
    font-size: 1em;
    line-height: 1.5;
/*    border: 20px solid #F2EDE2;*/
}

header{
    background-color: #0C1C2F;
}

.logo-container img {
    width: 200px;
}

.logo-container {
    text-align: center;
}
.navBar{
/*    float: left;*/
    text-align: center;
}

/*-------------------------NAVIGATION MENU*/
/*top menu style*/
#menu ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	display: inline-block;}

/*set every list below the top list invisible*/
#menu ul ul {display:none;}

/*will display the list beneath top menu on hover*/
#menu ul li:hover > ul {display:block;}

/*back to top menu style*/

#menu ul li {
  float:left;
  padding: 20px 40px;

/*space between the top menu which applies to other elements wrapped inside it*/
  margin:0 5px;
  background:#0C1C2F;
    border: 3px solid #C4B170;
    border-radius: 3px;
}

#menu ul li:hover {
  cursor:pointer;
  background: #C4B170;
}

#menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
    text-transform: uppercase;
}

/*this is the 2nd menu (submenu) style*/
#menu ul ul {
  padding:0px;
	position: absolute;top: 100%;

/*Need this to compensate the earlier padding and margin above 40 px + 5px*/
  margin-left:-45px;
}

#menu ul ul li {
  float: none;
  text-align:center;
	position: relative;
  padding:10px;
}


img.card-image{
    width: 300px;

}
div.card{
    background: #0C1C2F;
    display: inline-block;
    text-align: center;
    width: 32%;
    overflow: hidden;
    border: 3px solid #C4B170;
    border-radius: 3px;
    margin: 3px ;
}

div#filtersContainer {
    margin-bottom: 20px;
    background: #C4B170;
    color: #0C1C2F;
    border-radius: 3px;
}
